

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #182928;
    color: #9c7d7d;
    padding: 10px 0;
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
}

.img {
    width: 100%;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #00f;
    text-decoration: none;
}
